In [21]:
import sqlite3
sqlite3.version

'2.6.0'

In [23]:
# 데이터 베이스 만들기
con = sqlite3.connect('C:\Wujin_py\ptest.db')
type(con)

sqlite3.Connection

In [24]:
cursor = con.cursor()

In [ ]:
# 테이블 이름 std
# 이름 나이 성적

cursor.execute("CREATE TABLE std(이름 text, 나이 int, 성적 text)")

In [36]:
cursor.execute("DROP TABLE IF EXISTS sst")

In [37]:
cursor.execute("INSERT INTO std VALUES('우진', 18, 'A')")

In [38]:
con.commit()

In [42]:
cursor.execute("INSERT INTO std VALUES('아영', 18, 'A')")
cursor.execute("INSERT INTO std VALUES('사랑', 18, 'A')")
cursor.execute("INSERT INTO std VALUES('나은', 18, 'A')")

In [43]:
con.commit()

In [46]:
cursor.execute("DELETE FROM std WHERE 이름 = '우진'")

In [47]:
con.commit()

In [48]:
cursor.execute("UPDATE std  SET 이름 = '우진' WHERE 이름 = '아영'")

In [49]:
con.commit()

In [50]:
cursor.execute("DELETE FROM std WHERE 이름 = '우진'")
cursor.execute("DELETE FROM std WHERE 이름 = '나은'")
cursor.execute("DELETE FROM std WHERE 이름 = '사랑'")

In [51]:
con.commit()

In [52]:
cursor.execute("INSERT INTO std VALUES('아영', 18, 'A')")
cursor.execute("INSERT INTO std VALUES('사랑', 18, 'A')")
cursor.execute("INSERT INTO std VALUES('나은', 18, 'A')")

In [53]:
con.commit()

In [58]:
cursor.execute("UPDATE std  SET 이름 = '우진' WHERE 이름 = '아영'")

In [59]:
con.commit()

In [65]:
cursor.execute("UPDATE std SET 이름 = '나은' WHERE 이름 = '아영'")

In [66]:
con.commit()

In [67]:
cursor.execute('UPDATE std SET 이름 = "나은" WHERE 이름 = "아영"')

In [68]:
con.commit()

In [69]:
con.close()